html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1REM = 10px */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Special Elite", cursive, sans-serif;
  font-size: 1.6rem;
  line-height: 2;
  /* height: 100vh; */
  background: #f3f3f3;
  /* background: #852d91; 
  background: -moz-linear-gradient(45deg,  #852d91 0%,#312a6c 99%); 
  background: -webkit-linear-gradient(45deg ,  #852d91 0%,#312a6c 99%); 
  background: linear-gradient(45deg,  #852d91 0%,#312a6c 99%); */
  /* background: linear-gradient(45deg,  #fb83a7 0%,#fdbc9e 100%); */
}

/* Globales */
h1,
h2,
h3 {
  font-family: "Special Elite", cursive, sans-serif;
  margin: 0 0 5rem 0;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1rem;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  max-width: 100%;
  display: block;
}
.Box-margin {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
